<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMail" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52941/Mail.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMail" contract="EmailServRef.IMail"
                name="BasicHttpBinding_IMail" />
        </client>
    </system.serviceModel>
</configuration>